@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --l-red: hsl(354, 100%, 66%);
    
    --gray: hsl(0, 0%, 59%);
    --v-d-blue: hsl(209, 33%, 12%);

    --principal-font: 'Libre Franklin', sans-serif;
} 

/* GLOBALS */
html  {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after { box-sizing: inherit; }
body {
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: var(--principal-font);
}
img { max-width: 100%; }
h1, h2, h3, p, span { margin: 0; }

/* UTILITIES */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    max-width: 85%;
    margin: 0 auto;
}
.error { border-color: red; }
.div-error { 
    color: red; 
    margin: 1rem 0 1.5rem 0;
    font-style: italic;
}
.mb-2rem { margin-bottom: 2rem ;}

/* HEADER */
header { 
    margin: 8rem 0 3rem 0; 
    width: 6rem;
}

/* SUSCRIBE */
.suscribe, input, button {
    width: 100%;
}
h1 { font-size: 2.4rem; }
span {
    color: var(--gray);
    font-weight: 300;
}
.suscribe-text {
    text-align: center;
    margin: 1rem 0 1rem 0;
}
.email-content { width: 100%; }
input, button {
    border-radius: 2.3rem;
    padding: 1.2rem 3rem;
    margin-top: 1.3rem;
}
input {
    border: 1.3px solid var(--pale-blue);
}
input::placeholder { font-size: 1.4rem; }
input:focus {
    outline-color: hsl(223, 80%, 59%);
}
button {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 0px 3px 10px rgb(165, 165, 165);
}
button:active { background-color: rgba(79, 125, 243, .6); }

/* HERO */
.hero {
    background-image: url(../images/illustration-dashboard.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 110%;
    height: 50rem;
    margin-top: 8rem;
}

/* FOOTER */
footer { margin-bottom: 4rem; }
.footer-p {
    color: var(--gray);
    font-size: 1.3rem;
}
.social-icons {
    display: flex;
    width: 15rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.social-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--pale-blue);
    border-radius: 50%;
}
svg{
    width: 2rem;
    fill: var(--blue);
    transition: all .3s ease;
}
.face-icon:active, .twitter-icon:active, .insta-icon:active { background-color: var(--blue); }
svg:active { fill: white; }

@media (min-width: 800px) {
    .container { max-width: 60rem;}
    header { width: 10rem; }
    h1 { font-size: 4.5rem; }
    .call-to-action {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .email-content { align-items: flex-start; }
    .error-content { margin-left: 3rem; }
    .suscribe-text p { font-size: 1.8rem; }
    .email-content { width: 67%; }
    .btn { width: 30%;}
    input, button { padding: 1.5rem 3rem; }
    .face-icon:hover, .twitter-icon:hover, .insta-icon:hover { 
        background-color: var(--blue); 
        cursor: pointer;
    }
    svg:hover { fill: white; }
}